.contenedorTituloSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contenedorTituloSection span {
  font-size: 24px;
  text-align: center;
  color: #00235a;
  padding: 0px 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedorTituloSection::after {
  content: '';
  width: 100px;
  border: 3px solid #f49d15;
  margin-top: 10px;
}

.contenedorSectionServicios {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 100px;
}

.contenedorItemsServicios {
  margin-top: 50px;
  display: grid;
  width: 100%;
  padding: 0px 80px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.contenedorBloqueInfo {
  border-bottom: 3px solid #f49d15;
  padding-bottom: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.contenedorBloqueInfo > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contenedorBloqueInfo > div > span {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #00235a;
  text-align: center;
  text-transform: uppercase;
}

.contenedorBloqueInfo > div > p {
  font-size: 15px;
  line-height: 22px;
  color: #666;
  text-align: center;
}

@media (max-width: 954px) {
  .contenedorItemsServicios {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .contenedorItemsServicios {
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }

  .contenedorItemsServicios {
    gap: 30px;
  }

  .contenedorBloqueInfo {
    padding: 30px 0px;
  }

  .contenedorBloqueInfo > div > span {
    margin-bottom: 20px;
  }
}
